<html>
    <body>
        <div>
            <h1>
                form page
            </h1>
            <form action="/user/add" method="post">
                <div>
                    <label for="fullname ">Name:</label>
                </div>
                <div>
                    <input type="text" id="fullname" name="fullname">
                </div>
                <div>
                    <label for="fullname ">Email:</label>
                </div>
                <div>
                    <input type="email" id="email" name="email">
                </div>
                <div>
                    <label for="City">Age:</label>
                </div>
                <div>
                    <input type="number" id="age" name="age">
                </div>
                <div>
                    <label for="city ">City:</label>
                </div>
                <div>
                    <input type="text" id="city" name="city">
                </div>
                <div>
                    <label for="profession ">Professon:</label>
                </div>
                <div>
                    <input type="text" id="profession" name="profession">
                </div>
                <button type="submit" >Submit</button>
            </form>
        </div>
    </body>
</html>